{% extends "base.html" %}

{% block content %}

    <div class="well">
        <!-- <img src="{{ STATIC_URL }}img/marker50x49.gif"/> -->
        <h1>Welcome!</h1>
        <p>This is a simple website I created using Python, Django, and Twitter's bootstrap.</p>
        <p><a class="btn btn-primary" href="https://github.com/dmast/MastConsultingSite/">Check it out on GitHub &raquo;</a></p>
        <p>In the future I hope to use this site as a platform for some blogging about the tech world, programming, project management, etc..I don't know why, but I have the urge right now to show an "Under Construction" animated gif...</p>
    </div>

    <div class="row">
        <div class="span4">
            <i class="icon-lightbulb icon-4x"></i>
            <h2>Resources</h2>

            <p>Here are a few of the web resources I could not live without.</p>

            <p><a class="btn" href="http://www.djangoproject.com">View Resources &raquo;</a></p>
        </div>
        <div class="span4">
            <i class="icon-thumbs-up icon-4x"></i>
            <h2>Fun</h2>

            <p>Here are a few links to help me relax and enjoy the bright side of life.</p>

            <p><a class="btn" href="http://twitter.github.com/bootstrap/">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <i class="icon-question-sign icon-4x"></i>
            <h2>Miscellany</h2>

            <p>Random things....</p>

            <p><a class="btn" href="https://github.com/dyve/django-bootstrap-toolkit/">View details &raquo;</a></p>
        </div>
    </div>

    <p>A big thanks to all the people that worked on Django and Bootstrap and Dylan Verheul for creating Django Bootstrap toolkit.</p>

{% endblock %}