# Make this unique, and don't share it with anybody.
DATABASES = {'default': dj_database_url.config(default='postgres://test:test@localhost:5432/mastconsultingdb')}
SECRET_KEY = 'makesuretoupdate this'